* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Helvetica', sans-serif;
}

/* General styling */
.header {
    font-family: 'Helvetica', sans-serif;
    background-color: #3E3E3E;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2.1rem;
}

.logo-container {
    margin: 0 auto;
    text-align: center;
}

.navbar {
    color: white;
    font-size: 2rem;
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
    gap: 2rem;
}

.menu-links {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    text-align: center;
}

.menu-links a {
    padding: 0 2rem;
    flex: 1;
    text-align: center;
}

.navbar img {
    order: 2;
    width: 10rem;
    height: 10rem;
}

.the-para {
    color: white;
    padding: 6rem;
    margin-left: 9rem;
}

.title p {
    font-size: 12rem;
    font-weight: 300;
}

.sub-title {
    font-size: 3rem;
    max-width: 700px;
}

.aboutus {
    display: flex;
    background-color: #3E3E3E;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    width: 100%;
}

.denze {
    padding: 6rem;
    border-right: 2px solid white;
}

.denze p {
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 2.5rem;
    color: white;
}

.denze img {
    width: 44rem;
    height: 40rem;
    padding-left: 4rem;
}

.text {
    color: white;
    padding-bottom: 6rem;
    padding-right: 10rem;
    padding-left: 20px;
}

.text span {
    font-weight: 300;
    font-size: 12rem;
}

.text p {
    font-size: 2.1rem;
    font-weight: 200;
}

.slider-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    gap: 1.8rem;
}

.slider img {
    flex: 0 0 auto;
    height: 40rem;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.projects {
    background-color: #949494;
    padding: 2rem;
}

.projects .title {
    font-weight: 300;
    font-size: 12rem;
}

.services-cont {
    background-color: #3E3E3E;
    color: white;
    padding: 2rem;
    width: 100%;
}

.services-cont p {
    font-size: 10rem;
}

.services-cont ul {
    font-size: 4rem;
    padding-left: 5rem;
}

.contactUs {
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url(img/footer2.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.contactUs .span {
    font-size: 10rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0;
}

.contactUs p {
    font-size: 3rem;
    color: #fff;
    padding-left: 2rem;
}

.contactUs input[type="text"], .contactUs input[type="email"] {
    width: 30rem;
    height: 4rem;
    font-size: 1.6rem;
}

.contactUs button {
    width: 10rem;
    height: 4.5rem;
    font-size: 1.8rem;
    color: white;
    background-color: black;
    border: solid 1px #fff;
    margin-left: 2rem;
}

.inputs {
    padding-left: 2rem;
}

.footer {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.logo img {
    width: 8rem;
    height: 8rem;
}

.social-media-links img {
    width: 5rem;
    height: 5rem;
}

.social-media-links {
    justify-content: space-around;
    display: flex;
    gap: 2rem;
}

.contact-info {
    font-size: 2.5rem;
}

/* Media Queries for Mobile Responsiveness */
@media only screen and (max-width: 1200px) {
    .title p {
        font-size: 10rem;
    }
    .sub-title{
        text-align: left;
        padding-left: 15px;
    }
    
    .text span {
        font-size: 10rem;
    }

    .services-cont p {
        font-size: 10rem;
        font-weight: 400;
    }

    .services-cont ul {
        font-size: 3.5rem;
    }

    .contactUs .span {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 992px) {
    .title p {
        font-size: 10rem;
    }

    .part1 p {
        font-size: 100 px;
    }

    .text span {
        font-size: 8rem;
    }
    .text p {
        font-weight: 400;
    }

    .services-cont p {
        font-size: 10rem;
    }

    .services-cont ul {
        font-size: 3rem;
    }

    .contactUs .span {
        font-size: 6rem;
    }

    .contactUs p {
        font-size: 2.5rem;
    }

    .contact-info {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .desktop-logo {
        display: none;
    }
    .mobile-logo {
        display: block!important;
        text-align: center; /* Center the logo */
        margin-bottom: 0rem; /* Add some bottom margin for spacing */
    }
    .mobile-logo img {
        width: auto;
        height: 80px;
    }
    .navbar {
        flex-direction: column;
    }

    

    .the-para {
        padding: 2rem;
        margin-left: 0;
        text-align: center;
    }

    .title p {
        font-size: 6rem;
        font-weight: 400;
    }

    .sub-title {
        font-size: 3rem;
    }

    .aboutus {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .denze {
        padding: 1rem;
        border: none;
        border-bottom: 2px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .denze h1 {
        font-size: 2rem;
        padding-right: 3rem;
    }

    .denze img {
        width: auto;
        height: 15rem;
        padding: 0;
        margin-top: 1rem;
    }

    .text {
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
    }

    .text span {
        font-size: 6rem;
        font-weight: 400;
    }

    .text p {
        font-size: 2.2rem;
    }

    .slider img {
        height: 30rem;
    }

    .slider-container {
        height: 30rem;
    }

    .projects .title {
        font-size: 5rem;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 400;
    }

    .projects {
        height: 42rem;
    }

    .services-cont p {
        font-size: 4.5rem;
        text-align: center;
    }

    .services-cont ul {
        font-size: 3rem;
        padding-left: 0;
        text-align: center;
        list-style-type: none;
    }

    .contactUs {
        background-image: none;
        height: auto;
        padding: 2rem;
        text-align: center;
    }

    .contactUs .span {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .contactUs p {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .contactUs input[type="text"],
    .contactUs input[type="email"] {
        width: 100%;
        height: 4rem;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .contactUs button {
        width: 100%;
        height: 4.5rem;
        font-size: 1.8rem;
        margin-left: 0;
    }

    .inputs {
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media-links {
        margin-top: 2rem;
    }

    .social-media-links img {
        margin: 0 1rem;
    }

    .contact-info {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-links {
        display: none;
        flex-direction: column;
        background-color: #3E3E3E;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 2rem;
    }

    .menu-links a {
        margin-bottom: 1rem;
    }
    .contactUs {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('/img/footer2.jpg');
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative; /* Add this */
    }
}

@media only screen and (max-width: 480px) {
    .title p {
        font-size: 8rem;
    }
.sub-title{
    text-align: left;
    font-size: 2.8rem;
    padding-left: 25px;
}
    .text span {
        font-size: 4rem;
        text-align: left;
    }
    
    .denze p {
        font-size: 2rem;
    }

    .services-cont p {
        font-size: 3.5rem;
    }

    .services-cont ul {
        font-size: 2.5rem;
    }

    .contactUs .span {
        font-size: 3.5rem;
    }

    .contactUs p {
        font-size: 2rem;
    }

    .contact-info {
        font-size: 1.8rem;
    }
    .contactUs {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('/img/footer2.jpg');
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative; /* Add this */
    }
}

.mobile-logo {
    display: none;
}
/* Additional Styling for Form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
}

form .span {
    font-size: 1.5em;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}

form p {
    text-align: center;
}

.inputs {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    justify-content: center;
}

.inputs input {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1em;
}

button {
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1em;
    cursor: pointer;
}

.button-container {
    text-align: center;
}

button:hover {
    background-color: #555;
}
